<%- include('./includes/header.ejs') %>
</head>
<body>
   <%- include('./includes/nav.ejs') %>
   <main class="container bd- main pt-6">
      <div class="columns">
         <div class="column"></div>
         <div class="column">
            <div class="card is-shadow">
               <div class="card-image">
                  <figure class="image is-4by3">
                     <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/50183164/original/f80714a807d09df88dc708d83941384ac5d9e6dd/draw-nice-style-cartoon-caricature-as-a-profile-picture.png" alt="Placeholder image">
                  </figure>
               </div>
               <div class="card-content">
                  <div class="media">
                     <div class="media-left">
                        <figure class="image is-48x48">
                           <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/50183164/original/f80714a807d09df88dc708d83941384ac5d9e6dd/draw-nice-style-cartoon-caricature-as-a-profile-picture.png" alt="Placeholder image">
                        </figure>
                     </div>
                     <div class="media-content">
                        <p class="title is-4"><%- name %></p>
                        <p class="subtitle is-6"><%- email %></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="column"></div>
      </div>
   </main>
   <%- include('./includes/footer.ejs') %>